div.advertisement{
    width: 1300px;
    height: 250px;
    margin:0 auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  div.advertisement>a{
    text-decoration: none;
    height: inherit;
  }
  div.advertisement>a>img{
    width: 320px;
    height: inherit;
    border-radius: var(--BorderRadius);
     margin-left: 2px;
  }
