div.advertisement2{
    width: 1330px;
    height: 300px;
    margin: 0 auto ;
    margin-bottom: 30px;
    border-radius: 20px;
  }
  div.advertisement2>a{
    text-decoration: none;
    height: inherit;
  }
  div.advertisement2>a>img{
    width: 660px;
    height: inherit;
    border-radius: var(--BorderRadius);
    margin-right: 2px;
  }