div.advertisement3{
    width: 1330px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  div.advertisement3>a{
    text-decoration: none;
    width: inherit;
    height: inherit;
  }
  div.advertisement3>a>img{
    width: inherit;
    height: 180px;
    border-radius: var(--BorderRadius);
  }