div.digiplus{
    width: 1330px;
    height: 400px;
    background-color: #941B80;
    background-image: url(./img/plus-widget.png);
    background-size:450px 350px ;
    background-repeat: no-repeat;
    background-position: right;
    margin:0 auto;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
  }
  div.digiplus>div.box1,div.digiplus>div.box2,div.digiplus>div.box3{
    width: 430px;
    height: inherit;
    margin-right: 10px;
  }
  div.digiplus>div.box1>div.logo3{
    width: 250px;
    height: 80px;
    margin-top: 10px;
    margin-right: 30px;
  }
  div.digiplus>div.box1>div.logo3>img{
    padding-top: 10px;
  }
  div.digiplus>div.box1>div.logo3>p{
    padding-top: 10px;
    color: white;
    font-size: 18px;
  }
  div.digiplus>div.box1>div.membership{
    width: 120px;
    height: 40px;
    display: inline-block;
    padding-top: 5px;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 20px;
    border: var(--BoxBorder);
  }
  div.digiplus>div.box1>div.membership>a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    display: flex;
  }
  div.digiplus>div.box1>div.membership>a>img{
    width: var(--WidthIcon);
    height: var(--HeightIcon);
    margin-right: 10px;
    filter: invert(99%) sepia(73%) saturate(88%) hue-rotate(240deg) brightness(120%) contrast(100%);
  }
  div.digiplus>div.box2{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: 10px;
    height: 380px;
  }
  div.digiplus>div.box3{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white;
    margin-top: 10px;
    margin-left: 15px;
    height: 380px;
  }
  div.digiplus>div.box2>div.heading,div.digiplus>div.box3>div.heading{
    width: inherit;
    height: 50px;
    display: flex;
    margin-bottom: 20px;
  }
  div.digiplus>div.box2>div.heading>div.gifts,div.digiplus>div.box3>div.heading>div.gifts{
    width: 50px;
    height: 50px;
    padding-right: 10px;
    display: inline-block;
  }
  div.digiplus>div.box2>div.heading>div.gifts>img,div.digiplus>div.box3>div.heading>div.gifts>img{
    width: 35px;
    height: 35px;
    filter: var(--IconPurple);
    margin-top: 15px;
  }
  div.digiplus>div.box2>div.heading>div.text,div.digiplus>div.box3>div.heading>div.text, div.digiplus>div.box2>div.heading>div.text2,div.digiplus>div.box3>div.heading>div.text2{
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  div.digiplus>div.box2>div.heading>div.text>h3,div.digiplus>div.box3>div.heading>.text>h3{
    padding-top: 20px;
  }
  div.digiplus>div.box2>div.heading>div.text2,div.digiplus>div.box3>div.heading>div.text2{
    margin-right: 160px;
  }
  div.digiplus>div.box2>div.heading>div.text2>a,div.digiplus>div.box3>div.heading>div.text2>a{
    text-decoration: none;
    color: #941B80;
  }
  div.digiplus>div.box2>div.heading>div.text2>a>p,div.digiplus>div.box3>div.heading>div.text2>a>p{
    text-align: left;
    font-size: 16px;
    padding-top: 20px;
  }
  div.digiplus>div.box2>div.heading>div.text2>a>p>i.fa-chevron-left,div.digiplus>div.box3>div.heading>div.text2>a>p>i.fa-chevron-left{
    font-size: 10px;
    margin-right: 5px;
  }
  div.digiplus>div.box2>div.imagenes,div.digiplus>div.box3>div.imagenes{
    width: inherit;
    height: calc(380px - 80px);
  }
  div.digiplus>div.box2>div.imagenes>a>img,div.digiplus>div.box3>div.imagenes>a>img{
    width: 100px;
    height: 100px;
    margin: 20px;
  }
 