div.FinalSale{
    width: 1430px;
    height: 500px;
    background-color: transparent;
    margin: 0 auto;
    border: var(--BoxBorder);
    border-radius: var(--BorderRadius);
    margin-bottom: 30px;
}
div.FinalSale>div.title{
    width: inherit;
    height: 40px;
    background-color: transparent;
    margin-bottom: 5px;
}
div.FinalSale>div.title>i.fa-clock{
    font-size: 25px;
    line-height: 40px;
    color: var(--ColorFill);
    padding-right: 10px;
}
div.FinalSale>div.title>h3{
    display: inline-block;
    padding-right: 10px;
}
div.FinalSale>div.sliderBox{
    width: 1425px;
    height: calc(520px - 100px);
    background-color:  rgb(237, 239, 244);
    margin-top: 30px;
}
