div.footer {
  width: 1450px;
  height: 330px;
  margin-right: 10px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
}
div.footer > div.column {
  width: 400px;
  height: inherit;
  margin-right: 5px;
}
div.footer > div.column > p {
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 900;
}
div.footer > div.column > a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--ColorFill);
  text-align: right;
  padding-right: 10px;
  font-size: 16px;
}
div.footer > div.column > div.icons {
  width: 300px;
  height: 60px;
  margin-right: 10px;
}
div.footer > div.column > div.icons > a > img {
  width: var(--WSocialMedia);
  height: var(--HSocialMedia);
  filter: var(--IconFilter);
  margin-left: 20px;
}
div.footer > div.column > div.correo {
  height: 60px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
}
div.footer > div.column > div.correo > p {
  text-align: right;
  font-weight: 900;
  font-size: 16px;
  padding-top: 15px;
}
div.footer > div.column > div.correo > div.email {
  width: 270px;
  height: 50px;
  background-color: #f0f0f1;
  border-radius: 10px;
}
div.footer > div.column > div.correo > div.email > form.fill1 {
  width: 250px;
  height: inherit;
  margin-right: 10px;
}
div.footer > div.column > div.correo > div.email > form.fill1 > input.write1 {
  width: inherit;
  height: inherit;
  background-color: #f0f0f1;
  outline-style: none;
  border: none;
  color: #a1a3a8;
  font-size: 16px;
}
div.footer > div.column > div.correo > div.register2 {
  width: 60px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #f0f0f1;
  padding-top: 15px;
}
div.footer > div.column > div.correo > div.register2>a{
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: #a1a3a8;
}
