div.footerbrands {
    width: 100%;
    height: 140px;
    background-color: #F0F0F1;
  }
  div.footerbrands>a{
    text-decoration: none;
  }
  div.footerbrands>a>img{
    width: 120px;
    height: 60px;
    margin-top: 5px;
    margin-right: 55px;
  }