div.header1 {
  background-image: url(./img/header.jpg);
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}
div.header2 {
  width: 100%;
  height: 60px;
  display: flex;
  margin-bottom: 20px;
  background-color: transparent;
}
div.header2 > div.right {
  width: 1260px;
  display: flex;
  background-color: transparent;
}
div.header2 > div.right > a > img {
  width: 115px;
  height: 40px;
  margin-top: 13px;
  margin-right: 20px;
}
div.header2 > div.right > div.searchbox {
  width: 600px;
  height: 45px;
  display: flex;
  margin-right: 10px;
  margin-top: 8px;
  line-height: 45px;
  background-color: #f0f0f1;
  padding-right: 20px;
  border-radius: 10px;
  font-size: 16px;
  color: #89858b;
}
div.header2 > div.right > div.searchbox > img {
  width: var(--WidthIcon);
  height: var(--HeightIcon);
  margin-top: 10px;
  margin-left: 10px;
  filter: var(--IconFilter);
}
div.header2 > div.right > div.searchbox > form.fill {
  width: 570px;
  height: inherit;
  background-color: transparent;
}
div.header2 > div.right > div.searchbox > form.fill > input.write {
  width: 540px;
  height: 40px;
  background-color: #f0f0f1;
  outline-style: none;
  border: none;
  color: var(--ColorFill);
  font-size: 18px;
}
div.header2 > div.left > div.register > a {
  text-decoration: none;
  color: black;
  display: flex;
}
div.header2 > div.left > div.register > a > img {
  width: var(--WidthIcon);
  height: var(--HeightIcon);
  margin-left: 15px;
  margin-top: 8px;
}
div.header2 > div.left {
  width: 300px;
  display: flex;
  text-align: center;
  display: flex;
}
div.header2 > div.left > div.register {
  width: 155px;
  height: 40px;
  padding-right: 10px;
  padding-left: 20px;
  border-radius: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 900;
  line-height: 40px;
  margin-top: 10px;
  margin-right: 60px;
  border: var(--BoxBorder);
  display: flex;
}
div.header2 > div.left > div.buy {
  width: 60px;
}
div.header2 > div.left > div.buy > a > img {
  width: var(--WidthIcon2);
  height: var(--HeightIcon2);
  margin-top: 15px;
}
