div.info2{
    width: 1450px;
    height: 220px;
    background-color: transparent;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 25px;
    display: flex;
  }
  div.info2>div.about{
    width: 700px;
    background-color: transparent;
  }
  div.info2>div.about>p{
  text-align: right;
  padding-top: 15px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 30px;
  }
  div.info2>div.about>h3{
  padding-top: 15px;
  padding-right: 10px;
  }
  div.info2>div.about>span{
    padding-right: 10px;
    color: #02CEFF;
  }
  div.info2>div.license{
    width: 400px;
    background-color: transparent;
    margin-right: 450px;
    display: flex;
  }
  div.info2>div.license>div.logo5{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border: 2px solid #D3D3D3;
  }
  div.info2>div.license>div.logo5>img{
    width: 95px;
    height: 90px;
    padding-top: 20px;
    padding-right: 10px;
  }