div.info{
    width: 1450px;
    height: 140px;
    background-color: transparent;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  div.info>div.infologo{
    width: 1450px;
    height: 60px;
    background-color: transparent;
    margin-bottom: 10px;
    display: flex;
  }
  div.info>div.infotel{
    width: 1450px;
    height: 60px;
    background-color: transparent;
    display: flex;
  }
  div.info>div.infotel>p{
    margin-top: 10px;
    font-size: 16px;
  }
  div.info>div.infologo>div.logo6{
    width: 120px;
    height: 60px;
    background-color: transparent;
  }
  div.info>div.infologo>div.logo6>img{
    margin-top: 15px;
    width: 120px;
    height: 30px;
  }
  div.info>div.infologo>div.up{
    width: 140px;
    height: 40px;
    margin-right: 1200px;
    border-radius: 10px;
    border: var(--BoxBorder);
    margin-top: 10px;
    display: flex;
  }
  div.info>div.infologo>div.up>a{
    text-decoration: none;
    display: flex;
    margin-top: 7px;
    padding-right: 10px;
    color: var(--ColorFill);
  }
  div.info>div.infologo>div.up>a>img{
    width: var(--WidthIcon);
    height: var(--WidthIcon);
    margin-right: 10px;
    filter: var(--IconFilter);
    
  }