div.menu{
    width: 100%;
    height: 40px;
    background-color: transparent;
  }
  div.menu>div.list{
    width: 1250px;
    height: inherit;
    background-color: transparent;
    display: inline-block;
  }
  div.menu>div.list>nav{
    width: inherit;
    height: inherit;
    background-color: transparent;
  }
  div.menu>div.list>nav>ul{
    width: inherit;
    height: inherit;
    list-style: none;
    background-color: transparent;
    padding: 0 10px;
  }
  div.menu>div.list>nav>ul>li{
    width: auto;
    height: inherit;
    display: inline-block;
    background-color: transparent;
    position: relative;
    transition: 300ms;
}
div.menu>div.list>nav>ul>li:hover{
  border-bottom: var(--BorderBottom);
}
  div.menu>div.list>nav>ul>li>div.logo,div.menu>div.city>div.logo{
    width: 25px;
    height: inherit;
    background-color: transparent;
    display: inline-block;
  }
  div.menu>div.list>nav>ul>li>div.logo>img,div.menu>div.city>div.logo>img{
    width: var(--WidthIcon);
    height: var(--HeightIcon);
    padding-top: 7px;
  }
  div.menu>div.list>nav>ul>li>div.logo>img.grey{
   filter: var(--IconFilter);
   -webkit-filter: var(--IconFilter);
}
  div.menu>div.list>nav>ul>li>div.text{
    width: inherit;
    height: inherit;
    background-color: transparent;
    display: inline-block;
    padding-left: 20px;
  }
  div.menu>div.list>nav>ul>li>div.text>a{
    width: inherit;
    line-height: 40px;
    text-decoration: none;
    color: var(--ColorFill);
  }
  div.menu>div.list>nav>ul>li>div.text>a>span.verticalLine{
    padding-left: 20px;
    color: var(--ColorFill);
  }
  div.menu>div.list>nav>ul>li>div.text>a>span.verticalLine1{
    padding-right: 25px;
    color: var(--ColorFill);
  }
  div.menu>div.list>nav>ul>li>div.text>a.bold{
    font-weight: bold;
    font-size: 16px;
    color: black;
  }
  div.menu>div.city{
    width: 200px;
    height: inherit;
    background-color: transparent;
    display: inline-block;
    margin-right: 10px;
  }
  div.menu>div.city>div.text{
    width: 150px;
    height: inherit;
    display: inline-block;
    background-color: transparent;
    margin-right: 5px;
  }
  div.menu>div.city>div.text>a{
    display: block;
    width: inherit;
    line-height: 40px;
    text-decoration: none;
    color: black;
  }
  div.menu>div.list>nav>ul>li>div.submenu{
    width: calc(100vw - 40px);
    height: 610px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    display: none;
    z-index: 2;
  }
  div.menu>div.list>nav>ul>li:hover>div.submenu{
    display: block;
  }
  div.menu>div.list>nav>ul>li>div.submenu>div.right{
    width: 17%;
    height: inherit;
    background-color: transparent;
  }
  div.menu>div.list>nav>ul>li>div.submenu>div.right>ul{
    width: 100%;
    height: inherit;
    background-color: transparent;
    list-style: none;
  }
  div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li{
    width: inherit;
    height: 50px;
    margin-bottom: 5px;
  }
  div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>a{
    width: inherit;
    height: inherit;
    display: block;
    text-decoration: none;
    line-height: 50px;
    color: black;
    font-weight: bold;
    padding-right: 20px;
    font-size: 16px;
    transition: 300ms;
}
  div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>a>img{
    width: var(--WidthIcon2);
    height: var(--HeightIcon2);
    padding-top: 8px;
    margin-left: 5px;
    transition: 300ms;
}
  div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>a:hover{
    background-color: #F0F0F1;
    color: var(--Hover);
  }
  div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>a>img:hover{
    filter: invert(49%) sepia(88%) saturate(4818%) hue-rotate(330deg) brightness(93%) contrast(102%);
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left{
  width: 83%;
  height: 610px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border-right: 1px solid #E0DEE0;
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left{
  display: block;
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.title{
  width: 100%;
  height: 40px;
  background-color: transparent;
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.title>a{
  text-decoration: none;
  display: block;
  color: black;
  line-height: 40px;
  padding-right: 15px;
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.title>a>span.fas,div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.content>div.column>a.title>span.fas{
  margin-right: 8px;
  font-size: 10px;
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.content{
  width: 100%;
  background-color: transparent;
  height: calc(100% - 40px);
  display: flex;
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.content>div.column{
  width: calc(80% / 4);
  height: 100%;
  background-color: transparent;
  display: inline-block;
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.content>div.column>a.title{
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-right: 15px;
  transition: 300ms; 
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.content>div.column>a.title:hover{
  color: var(--Hover);
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.content>div.column>a>span.verticalLine{
  color: var(--Hover);
  padding-left: 8px;
  font-size: 22px;
  font-weight: bold;
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.content>div.column>a{
  display: block;
  text-decoration: none;
  color: var(--ColorFill);
  padding-right: 15px;
  padding-top: 5px;
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.content>div.column>a:hover{
  color: var(--Hover);
}
div.menu>div.list>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.content>div.column>a>img{
  width: 13.7vw;
  height: 25vh;
  border-radius: var(--BorderRadius);
}
