div.offer{
    width: 1330px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: transparent;
  }
  div.offer>div.offerTitle{
    width: inherit;
    height: 40px;
    background-color: transparent;
  }
  div.offer>div.offerTitle>h1{
    font-size: 28px;
    text-align: center;
  }
div.offer>div.offerBox{
  width: inherit;
  height: 350px;
  padding-top: 20px;
}
div.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 2px solid #F0F0F1;
}
div.swiper-slide2>a{
  text-decoration: none;
  color: black;
}
div.swiper-slide2>a>div.imagen{
  width: 100px;
  height: 100px;
  background-color: #F2F2F2;
  border-radius: 50px;
  margin: auto;
}
div.swiper-slide2>a>div.imagen>img{
  width: 60px;
  height: 60px;
  margin-top: 20px;
}
div.swiper-slide2>a>div.subtitle{
  width: 150px;
  height: 30px;
  margin-top: 10px;
}
