div.products2{
    width: 1330px;
    height: 450px;
    margin: 0 auto;
    border-radius: var(--BorderRadius);
    display: flex;
    border: var(--BoxBorder);
  }
  div.products2>div.kala2{
    width: inherit;
    height: inherit;
    margin-left: 10px;
    margin-right: 5px;
  }
  div.products2>div.kala2>div.title{
    width: 200px;
    margin-right: 10px;
    margin-top: 10px;
  }
  div.products2>div.kala2>div.title>h3{
    font-size: 16px;
  }
  div.products2>div.kala2>div.subtitle{
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
  }
  div.products2>div.kala2>div.subtitle>p{
    color: var(--ColorFill);
    font-size: 14px;
  }
  div.products2>div.kala2>div.SliderBox{
    width: 100%;
    height: calc(100% - 110px);
    margin-top: 5px;
  }
  div.swiper-slide2>a{
    text-decoration: none;
  }
  div.swiper-slide2>a>img{
    width: 140px;
    height: 140px;
  }
  div.products2>div.kala2>div.view{
    width: 100%;
    height: 30px;
  }
  div.products2>div.kala2>div.view>a{
    text-decoration: none;
    width: inherit;
    height: inherit;
  }
  div.products2>div.kala2>div.view>a>p{
    text-align: center;
    color: var(--View);
    font-weight: bold;
  }
  div.products2>div.kala2>div.view>a>p>span.fa-chevron-left{
    padding-right: 10px;
    line-height: 30px;
    font-size: 10px;
  }
