div.reading {
    width: 1330px;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  div.reading > div.heading {
    width: inherit;
    height: 40px;
    margin-bottom: 5px;
  }
  div.reading > div.heading >div.titulo{
    width: 1100px;
    height: inherit;
    display: inline-block;
    margin-left: 25px;
    line-height: 40px;
  }
  div.reading > div.heading >div.readMore>a{
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: var(--View);
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  div.reading > div.heading >div.readMore{
    width: 200px;
    height: inherit;
    display: inline-block;
    line-height: 40px;
  }
  div.reading > div.news {
    width: 314px;
    height: 290px;
    background-color: white;
    display: inline-block;
    margin-left: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
    border: var(--BoxBorder);
    margin-top: 10px;
  }
  div.reading > div.news > div.imagen {
    width: inherit;
    height: 210px;
  }
  div.reading > div.news > div.text {
    width: inherit;
    height: 60px;
    background-color: transparent;
    margin-top: 10px;
  }
  div.reading > div.news > div.imagen > a > img {
    width: 314px;
    height: 210px;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 2px;
  }
  div.reading > div.news > div.text > p {
    padding-right: 15px;
  }
  