div.SelectedPros {
    width: 1330px;
    height: 900px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    border: 2px solid #d3d3d3;
    margin-bottom: 30px;
  }
  div.SelectedPros > div.titel1 {
    width: inherit;
    height: 40px;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
  }
  div.SelectedPros > div.titel1 > div.text {
    width: 400px;
    height: inherit;
    background-color: transparent;
    font-size: 28px;
  }
  div.SelectedPros > div.titel1 > div.icon {
    width: 50px;
    height: inherit;
    background-color: transparent;
    margin-right: 500px;
  }
  div.SelectedPros > div.titel1 > div.icon > img {
    width: var(--WidthIcon2);
    height: var(--HeightIcon2);
    margin-top: 10px;
    margin-right: 15px;
    filter: invert(35%) sepia(68%) saturate(2790%) hue-rotate(330deg)
      brightness(96%) contrast(94%);
  }
  div.SelectedPros > div.kala3 {
    width: 215px;
    height: 800px;
    background-color: transparent;
    border-radius: 20px;
    display: inline-block;
    margin-right: 2px;
  }
  div.SelectedPros > div.kala3 > div.products4 {
    width: 200px;
    height: 250px;
    background-color: transparent;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  div.SelectedPros > div.kala3 > div.products4 > img {
    width: 150px;
    height: 150px;
    margin-right: 22px;
  }
  div.SelectedPros > div.kala3 > div.products4 > div.takhfif3 {
    width: 40px;
    height: 20px;
    background-color: #ef394e;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 900;
    display: inline-block;
  }
  div.SelectedPros > div.kala3 > div.products4 > div.price1 {
    width: 130px;
    background-color: transparent;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-weight: 900;
  }
  div.SelectedPros > div.kala3 > div.products4 > div.price1>img{
      width: var(--WidthIcon);
      height: var(--HeightIcon);
      margin-top: 10px;
  }
  div.SelectedPros > div.kala3 > div.products4 > div.price2 {
    width: 100px;
    margin-right: 80px;
    background-color: transparent;
    margin-top: 10px;
    text-align: left;
    text-decoration: line-through;
    color: #c0c7d0;
    font-size: 14px;
  }
  div.SelectedPros > span {
    padding-right: 10px;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 550px;
    color: #19bfd3;
    display: inline-block;
  }
  