div.sending{
    width: 1300px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  div.sending>div.options{
    width: 170px;
    height: 100px;
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: var(--BorderRadius);
  }
  div.sending>div.options>a{
    text-decoration: none;
    color: black;
  }
  div.sending>div.options>a>img{
    padding-right: 60px;
  }
  div.sending>div.options>a>p{
    text-align: center;
  }