div.sending{
    width: 1300px;
    height: 100px;
    margin-right: 100px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: transparent;
  }
  div.sending>div.options{
    width: 170px;
    height: 100px;
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 15px;
    border-radius: 20px;
  }
  div.sending>div.options>img{
    padding-right: 50px;
  }
  div.sending>div.options>p{
    text-align: center;
  }