div.suprise {
    width: 1300px;
    height: 300px;
    margin: 0 auto;
    background-color: var(--BG);
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
  }
  div.suprise > div.boxsuprise {
    width: 145px;
    height: inherit;
  }
  div.suprise > div.boxsuprise > div.logosuprise {
    width: 120px;
    height: 120px;
    margin: 5px auto;
    text-align: center;
  }
  div.suprise > div.boxsuprise > div.logosuprise > a.text > img {
    width: 80px;
    height: 80px;
    margin-top: 30px;
  }
  div.suprise > div.boxsuprise > div.logosuprise > a.image > img {
    width: 125px;
    height: 120px;
  }
  div.suprise > div.boxsuprise > div.view {
    width: 120px;
    height: 30px;
    margin: 0 auto;
  }
  div.suprise > div.boxsuprise > div.view > a {
    text-decoration: none;
    display: flex;
  }
  div.suprise > div.boxsuprise > div.view > a > p {
    color: white;
    padding-right: 20px;
    line-height: 30px;
    font-weight: bold;
  }
  div.suprise>div.boxsuprise>div.view>a>i.fa-chevron-left{
    margin-right: 10px;
    line-height: 30px;
    color: white;
  }
  div.suprise > div.pros {
    width: 1150px;
    height: inherit;
    padding: 20px;
  }
  div.swiper-slide>div.foto{
      width: inherit;
      height: 150px;
      margin-bottom: 15px;
  }
  div.swiper-slide>div.foto>a{
    text-decoration: none;
  }
  div.swiper-slide>div.foto>a>img{
    width: 150px;
    height: 150px;
    margin-right: 15px;
    margin-top: 10px;
  }
  div.swiper-slide>div.prices{
    width: inherit;
    height: 40px;
    display: flex;
  }
  div.swiper-slide>div.prices>div.rebaja{
    width: 35px;
    height: 22px;
    background-color: #ef394e;
    margin-right: 10px;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 900;
    line-height: 22px;
  }
  div.swiper-slide>div.prices>div.SecondPrice{
    width: 60%;
    height: inherit;
    display: flex;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
  }
  div.swiper-slide>div.prices>div.SecondPrice>img{
    width: var(--WToman);
    height: var(--HToman);
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
  }
  div.swiper-slide>div.FirstPrice{
    width: inherit;
    height: 30px;
    line-height: 30px;
    text-decoration: line-through;
    font-size: 15px;
    color: var(--ColorFill);
    margin-top: 10px;
    margin-right: 5px;
  }
  div.swiper-slide>div.circulo{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-top: 80px;
    margin-right: 60px;
    border: 2px solid #19BFD3;
}
div.swiper-slide>div.circulo>a>i.fa-arrow-left{
 line-height: 60px;
 font-size: 20px;
 color: var(--View);
}
div.swiper-slide>div.all{
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
div.swiper-slide>div.all>a{
  text-decoration: none;
  color: black;
}